.notice {
    background-color: var(--notice-bg, black);
    color: var(--notice-color, #ffffff);
}

.notice:is([data-notice-level="base"]) {
    --notice-bg: var(--notice-base, navy);
}

.notice:is([data-notice-level="moderate"]) {
    --notice-bg: var(--notice-moderate, blue);
}

.notice:is([data-notice-level="critical"]) {
    --notice-bg: var(--notice-critical, orange);
}

.notice:is([data-notice-level="highly-critical"]) {
    --notice-bg: var(--notice-highly-critical, red);
}

.notice:is([aria-hidden]) {
    display: none;
}

.notice .block__content {
    --icon-size: 36px;

    display: var(--notice-content-display, flex);
    gap: var(--notice-content-gap, 1rem);
    align-items: center;
}

.notice__dismiss {
    margin-inline-start: auto;
    align-self: flex-start;
}