{% set attributes = create_attribute() %}
{% set submit_attributes = create_attribute() %}
<div class="entity-moderation-form">
  <div class="entity-moderation-form__state">{{ form.current }}</div>
  <ul {{ attributes.addClass(['entity-moderation-form__controls']|merge(utility_classes ? utility_classes : []))}}>
    <li>{{ form.new_state }}</li>
    <li>{{ form.revision_log }}</li>
    <li {{ submit_attributes.addClass(submit_classes) }}>{{ form.submit }}</li>
  </ul>
</div>
{{ form|without('current', 'new_state', 'revision_log', 'submit') }}
{% if libraries %}
  {% for library in libraries %}
    {{ attach_library(library) }}
  {% endfor %}
{% endif %}
