.entity-moderation-form {
    margin: var(--entity-moderation-form-my, 0);
    margin-bottom: 1rem;
    display: block;
    border: none;
    padding: 0;
}

.admin-ui-hidden .entity-moderation-form {
    display: none;
}

.entity-moderation-form__controls {
    padding: 1em;
    border: 1px dashed #bbb;
    background: #fff;
}

.entity-moderation-form .form-item {
    margin: var(--entity-moderation-form-item-my, 0);
}

.entity-moderation-form__state {
    background-color: var(--entity-moderation-form-state-bg, #efefef);
    padding: var(--entity-moderation-form-state-p, 1em);
    line-height: 1;
}

:where(.node--unpublished) .entity-moderation-form {
    --entity-moderation-form-state-bg: #fcd34d;
}

.entity-moderation-form__state .form-item {
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: .25em;
}

.entity-moderation-form__state .form-item .form-label::after {
    content: ":"
}