.disclosure-summary {
    cursor: var(--disclosure-summary-cursor, pointer);
    display: var(--disclosure-summary-display, inline-block);
    list-style-type: none;
}

.disclosure-summary .material-symbols-sharp {
    --icon-align: middle;
}
