{% if attributes == null %}
  {% set attributes = create_attribute() %}
{% endif %}
{% if summary_attributes == null %}
  {% set summary_attributes = create_attribute() %}
{% endif %}
{% if body_attributes == null %}
  {% set body_attributes = create_attribute() %}
{% endif %}
<details {{ attributes.addClass(['disclosure']|merge(utility_classes ? utility_classes : [])) }}>
  {% if summary %}
    <summary {{ summary_attributes.addClass(['disclosure-summary']|merge(summary_classes ? summary_classes : [])) }}>
      {% if summary_icon_prefix %}
        {{- summary_icon_prefix|raw -}}
      {% endif %}
      {{- summary -}}
      {% if summary_icon_suffix %}
        {{- summary_icon_suffix|raw -}}
      {% endif %}
    </summary>
  {% endif %}
  <div {{ body_attributes.addClass(['disclosure-body']|merge(body_classes ? body_classes : [])) }}>
    {{- body|raw -}}
  </div>
</details>