{#
/**
 * @file
 * Template for a Block component.
 *
 * Available config:
 * - html_tag: The HTML tag for the block.
 * - utility_classes: An array of utility classes.
 */
#}
{% set classes = [
  'toc',
  'not-wysiwyg',
  bundle ? 'block--' ~ bundle|clean_class,
  id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
]|merge(utility_classes ? utility_classes : []) %}

  <{{ html_tag|default('div') }}{{ attributes|without('id').setAttribute('data-group', group).addClass(classes) }}>

  {{ title_prefix }}
  {{ title_suffix }}

    {% if heading %}
      <{{ heading_tag|default('strong') }} class="toc__heading not-wysiwyg">{{ heading }}</{{ heading_tag|default('strong') }}>
    {% endif %}
    <ul class="toc__contents">
      <span class="toc__loader">&hellip;</span>
    </ul>

  </{{ html_tag|default('div') }}>