.scroll-to-top:not(.hidden) {
    display: inline-grid;
}

.scroll-to-top {
    grid-template-rows: 1fr auto;
    row-gap: 4px;
    place-items: center;
    font-size: 13px;
    line-height: 1;
    position: fixed;
    bottom: calc(1rem + 2.5vmin);
    right: calc(1rem + 2.5vmin);
}

.scroll-to-top__icon {
    font-size: 3em;
    pointer-events: none;
}

.scroll-to-top__label {
    font-weight: 600;
    pointer-events: none;
    background-color: rgba(255,255,255,.7);
    backdrop-filter: blur(5px);
}

main {
    scroll-padding-top: 20px;
}
