{% set attributes = create_attribute() %}
<div {{ attributes.setAttribute('role','note').addClass(['note', type, 'not-wysiwyg']|merge(utility_classes ? utility_classes : []))}}>
    <div class="@container">
    {% if heading %}
    <h3 class="note__heading">{{- heading -}}</h3>
    {% endif %}
    <div class="note__message">{{- message|raw -}}</div>
    </div>
</div>