.note {
    padding: var(--note-padding, 1rem);
    border-style: solid;
    border-color: var(--note-tint, silver);
}

.note__heading {
    font-weight: var(--note-heading-weight, bold);
    font-size: var(--note-heading-size, 1.25em);
}

.embedded-content-preview:has(.note) {
    display: block;
}
